{{ with site.Params.giscus }}
  <section class="comments" aria-labelledby="comments-title">
    <h2 id="comments-title">Discussion</h2>
    <script
      src="https://giscus.app/client.js"
      data-repo="{{ .repo }}"
      data-repo-id="{{ .repoId }}"
      data-category="{{ .category }}"
      data-category-id="{{ .categoryId }}"
      data-mapping="pathname"
      data-strict="1"
      data-reactions-enabled="0"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>
  </section>
{{ end }}
