{{- $page := . -}}
{{- $result := false -}}
{{- with $page.Params.cover.image -}}
  {{- $path := . -}}
  {{- $resourcePath := strings.TrimPrefix "/" $path -}}
  {{- $result = dict "src" ($path | relURL) "resource" false -}}
  {{- with $page.Resources.Get $path -}}
    {{- $image := partial "responsive-image.html" (dict "resource" .) -}}
    {{- $result = merge $image (dict "resource" .) -}}
  {{- else with resources.Get $resourcePath -}}
    {{- $image := partial "responsive-image.html" (dict "resource" .) -}}
    {{- $result = merge $image (dict "resource" .) -}}
  {{- end -}}
{{- end -}}
{{- return $result -}}
